h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
body{
    margin: 0%;
    
.roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.half-width img{
    width: 100%;
}

.top-banner{
    background-image: url("top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient( lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
.Dream{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}
.Experiences{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon,tomato);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid ;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
    font-size: 12px;
}
